<!DOCTYPE html>
<html>
  <head>
    <title>my_skills</title>
  </head>
  <body>
  	<h1>Skills to Learn:</h1>
  	</br>
  	</br>
    {% if 'username' in login_session %}
    <a href='{{url_for('gdisconnect')}}'><h2>Logout</h2></a>
    {% else %}
    <a href='{{url_for('show_login')}}'><h2>Login</h2></a>
    {%endif%}
    <a href='{{url_for('apis')}}'>Visit APIs</a>
    <a href='{{url_for('new_skill')}}'><h2>Add a new skill</h2></a>
    </br>
    </br>
    {%for skill_item in skill_lst%}
      <a href='{{url_for('show_skill', skill=skill_item.name)}}'>{{skill_item.name}}</a>
  	  </br>
      <a href='{{url_for('edit_skill', skill=skill_item.name)}}'>Edit</a>
      <a href='{{url_for('delete_skill', skill=skill_item.name)}}'>Delete</a>
      </br>
      </br>
    {% endfor %}
    </br>
    </br>
    </br>
  </body>
</html>